#scrollBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 9999;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(0, 110, 204, 0.41);
    color: white;
    cursor: pointer;
    /* padding: 20px; */
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  
  #scrollBtn:hover {
    background-color: rgba(0, 99, 204, 0.41);
  }

  i.fa-arrow-up{
    font-size: 0.75em;
  }